:root {
    --header-background-color: #FFFFFF;
    --dark--background-color: #2F303A;
    --main-bacround-color: #E5E5E5;
    --sec-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --dark-color: #212121;
    --main-color: #757575;
    --sec-color: rgba(255, 255, 255, 0.6);
    --title-color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
    color: #757575;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* header styles */


/* Оформление линок в header */

header {
    background-color: var(--header-background-color);
}

.border-header {
    border: 2px;
    height: 80px;
    width: 1600px;
    align-items: baseline;
}

.item-link {
    display: flex;
    align-items: baseline;
}

.side-logo {
    color: var(--dark-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    font-family: Raleway;
    font-weight: bold;
    line-height: 1.19;
    padding-top: 24px;
    padding-left: 215px;
    display: inline-block;
}

.style-logo {
    color: var(--accent-color);
}

.site-nav {
    color: var(--dark-color);
    font-size: 15px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    padding-top: 32px;
    margin-right: 52px;
    display: flex;
}

.list-header {
    padding-left: 93px;
    margin: 0px;
    display: flex;
}

.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);
}

.links-style {
    padding-left: 1039px;
    display: flex;
    margin: 0px;
}

.header-link {
    color: var(--main-color);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}


/* Секция. Заголовок и кнопка */

.section-title {
    background-color: var(--dark--background-color);
    border: 2px;
    height: 575px;
    width: 1600px;
    padding: 207px 452px 280px;
}

.title {
    color: var(--title-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: 0px;
}

.button {
    background-color: var(--accent-color);
    color: var(--title-color);
    font-family: Roboto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    border-style: none;
    margin: 30px 250px;
}


/* Оформление списков секции. Фото и текст  */

.block-item {
    background-color: var(--header-background-color);
    width: 1600px;
    height: 863px;
    border: 2px;
}

.list-section {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-top: 97px;
}

.list-item {
    margin-right: 73px;
}

.work-images {
    display: flex;
    margin: 0px;
    justify-content: center;
    padding-top: 59px;
}

.images-dev {
    margin-right: 30px;
}

.section {
    width: 1600px;
    background-color: var(--main-bacround-color);
}

.subtitle-list {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
    margin: 0px;
}

.subtitle-text {
    letter-spacing: 0.03em;
    font-size: 15px;
    line-height: 1.71;
    color: var(--main-color);
    margin: 0px;
    padding-top: 22px;
}

.our-team {
    border: 2px;
    width: 1600px;
    height: 648px;
}


/* Оформление секции с командой */

.subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    margin: 0px;
    padding-top: 118px;
}

.team-subtitle {
    letter-spacing: 0.03em;
    color: var(--dark-color);
    font-weight: 500;
    font-size: 17px;
    line-height: 1.18;
    margin: 0px;
    justify-content: center;
}

.team-position {
    letter-spacing: 0.03em;
    font-size: 17px;
    line-height: 1.18;
    color: var(--main-color);
    margin: 0px;
    justify-content: center;
}

.list-team {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.team-item {
    padding: 0px 0px 88px 0px;
    margin: 50px 30px 0px 0px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--header-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


/* footer */

footer {
    background-color: var(--dark--background-color);
    border: 2px;
    height: 252px;
    width: 1600px;
}

.logo-footer {
    color: var(--title-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    font-family: Raleway;
    font-weight: bold;
    display: inline-block;
    line-height: 1.19;
    padding: 60px 0px 0px 215px;
}

.address {
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.74;
    font-style: normal;
    color: var(--title-color);
    line-height: 1.19;
    padding: 35px 0px 0px 215px;
    margin: 0px;
    display: inline-block;
}

.footer-links {
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.74;
    color: var(--sec-color);
    line-height: 1.19;
    padding: 22px 0px 0px 215px;
    display: inline-block;
}


/* section portfolio */

.section-portfolio {
    background-color: var(--main-bacround-color);
}

.btn {
    font-family: Roboto;
    width: 128px;
    height: 38px;
    border-radius: 4px;
    background-color: var(--sec-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.03em;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--title-color)
}

.headline {
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--dark-color);
}

.headline-text {
    letter-spacing: 0.03em;
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.87;
}